.sidenav {
  position: fixed;
  top: 0;
  right: -400px;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  z-index: 4;
  border-left-width: 1px;
  transition: right .4s;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;

  &.is-active {
    right: 0;
  }
}

.sidenav-button {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
}

.page-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  visibility: hidden;
  transition: opacity .2s;
  opacity: 0;

  &.is-active {
    visibility: visible;
    background-color: #888;
    opacity: .1;
  }
}

.sidenav-section {
  border-bottom-width: 1px;

  .sidenav-section-header {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    // border-bottom-width: 1px;
    font-size: 18px;
  }

  .sidenav-section-body {
    width: 100%;
    padding: 10px 20px;

    &.is-open {
      max-height: auto;
    }
  }
}

.theme-button {
  border-width: 2px;
  width: 45px;
  height: 45px;
  margin-right: 30px;
  border-radius: 50%;

  &.is-selected {
    text-decoration: underline double;
  }
}