@import '../../../mixins.scss';

.sidenav {
  position: fixed;
  top: 0;
  // left: -400px;
  left: 0;
  transform: translateX(-100%);
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  z-index: 4;
  border-right-width: 1px;
  transition: transform .4s;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  padding-top: 39px;

  &.is-active {
    transform: translateX(0);
  }
}

.sidenav-section {
  border-top-width: 1px;

  .sidenav-section-header {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    // border-bottom-width: 1px;
    font-size: 18px;
  }

  .sidenav-section-body {
    width: 100%;
    padding: 10px 20px;

    &.is-open {
      max-height: auto;
    }
  }
}

.theme-button {
  border-width: 2px;
  width: 45px;
  height: 45px;
  margin-right: 30px;
  border-radius: 50%;

  &.is-selected {
    text-decoration: underline double;
  }
}

.global-font-size-button {
  border-width: 2px;
  width: 45px;
  height: 45px;
  margin-right: 30px;
  border-radius: 50%;

  &.is-selected {
    text-decoration: underline double;
  }
}