<button class="sidenav-button hoverable hamburger hamburger--collapse" type="button" [ngClass]="{'is-active': isOpen}" (click)="toggleSidenav()">
  <span class="hamburger-box">
    <span class="hamburger-inner background-color-default"></span>
  </span>
</button>

<div class="sidenav background-color-default border-color-default"
  [ngClass]="{'is-active': isOpen}"
  *ngIf="isOpen || isTransitioning">
  <div class="sidenav-section border-color-default">
    <button class="sidenav-section-header">
      Font
    </button>
    <div class="sidenav-section-body">
      <button class="theme-button border-color-default light-mode"
        (click)="togglelightTheme(LightThemeEnum.LIGHT)"
        [ngClass]="{'is-selected': lightTheme === LightThemeEnum.LIGHT}">
        abc
      </button>
      <button class="theme-button border-color-default dim-mode"
        (click)="togglelightTheme(LightThemeEnum.DIM)"
        [ngClass]="{'is-selected': lightTheme === LightThemeEnum.DIM}">
        abc
      </button>
      <button class="theme-button border-color-default dark-mode"
        (click)="togglelightTheme(LightThemeEnum.DARK)"
        [ngClass]="{'is-selected': lightTheme === LightThemeEnum.DARK}">
        abc
      </button>
  </div>
  <div class="sidenav-section-body">
    <button class="global-font-size-button" style="font-size: 22px;"
      (click)="toggleGlobalFontSize(GlobalFontSizeEnum.BIG)"
      [ngClass]="{'is-selected': globalFontSize === GlobalFontSizeEnum.BIG}">
      Aa
    </button>
    <button class="global-font-size-button" style="font-size: 18px;"
      (click)="toggleGlobalFontSize(GlobalFontSizeEnum.MEDIUM)"
      [ngClass]="{'is-selected': globalFontSize === GlobalFontSizeEnum.MEDIUM}">
      Aa
    </button>
    <button class="global-font-size-button" style="font-size: 14px;"
      (click)="toggleGlobalFontSize(GlobalFontSizeEnum.SMALL)"
      [ngClass]="{'is-selected': globalFontSize === GlobalFontSizeEnum.SMALL}">
      Aa
  </button>
</div>
  </div>
</div>

<div class="page-cover background-color-backdrop"
  [ngClass]="{'is-active': isOpen}"
  *ngIf="isOpen || isTransitioning"
  (click)="closeSidenav()">
</div>