@import '../../../mixins.scss';

.new-section {
  display: content;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: max-height .3s;
  border-radius: 0 0 3px 3px;
  
  &:not(.edit-section) {
    border-radius: 3px;
    padding: 6px;
    @include phone { padding: 4px; }
  }
  .section__header {
    width: 100%;
    border-radius: 3px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    
    &.is-expanded {
      border-radius: 3px 3px 0 0;
      border-bottom-width: 0;
    }
  }

  .new-section-form {
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    overflow-y: auto;
    transition: max-height .3s;
    border-radius: 0 0 3px 3px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-bottom: 10px;
    
    &.is-visible { max-height: 400px; border-bottom-width: 1px; }

    .form-buttons {
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      position: sticky;
      button {
        padding: 10px 15px; @include phone { padding: 7px 10px; }
        flex: 1;
        
        &:first-of-type { border-radius: 0 0 0 3px; }
        &:last-of-type { border-radius: 0 0 3px 0; }
      }
    }
    
    .section-comment-input {
      padding: 8px;
      border-radius: 3px;
    }

    .help-question {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: help;
      font-size: 14px;
      vertical-align: text-top;
      margin-left: 3px;

      &:hover::after {
        content: "// TODO";
        position: relative;
      }
    }
  }
}

.input-group {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  
  &.transparent {
    opacity: .5;
  }

  label {
  }

  input.input-text {
    border-radius: 3px;
    border-width: 1px;
    font-size: 16px;
    padding: 8px
  }

  &.is-error {
    background-color: pink;
    input.input-text {
      border-color: pink;
      outline-color: red;
    }
  }

  .delete-multi-range {
    position: absolute;
    right: 17px;
    bottom: 12px;
    cursor: pointer;
  }
}