<!-- <div class="new-section"> -->
<ng-container>
  <button class="section__header background-color-strong border-color-subtle hoverable"
    (click)="onOpenForm()"
    [ngClass]="{'is-expanded': isFormOpen || isTransitioning}"
    *ngIf="showHeader">
    <div>
      <button><i class="fa fa-chevron-right" [ngClass]="{ 'rotate': isFormOpen }" aria-hidden="true"></i></button> New Section
    </div>
  </button>

  <!-- *ngIf="isFormOpen"> -->
  <form [ngClass]="{'is-visible': isFormOpen}"
    *ngIf="isVisible || isTransitioning"
    class="new-section-form background-color-strong border-color-subtle"
    (submit)="submit($event)"
    autocomplete="off">
    
    <span class="help-question"><i class="fa fa-question-circle-o" aria-hidden="true"></i></span>
    <div class="input-group">
      <label for="section-name">Name: </label>
      <input class="input-text border-color-default background-color-strong text-color-default"
        [ngModel]="inputName"
        (ngModelChange)="inputName = $event"
        type="text"
        name="section-name"
        id=""
        tabindex="1"
        placeholder="Creation and Fall"
        autofocus
        #inputNameField>
    </div>

    <div class="input-group">
      <label for="section-comment">Comment: </label>
      <textarea class="section-comment-input input-text border-color-default background-color-strong text-color-default text-size-3"
        [ngModel]="inputComment"
        (ngModelChange)="inputComment = $event"
        cdkTextareaAutosize
        name="section-comment"
        tabindex="1"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="3"
        ></textarea>
    </div>

    <!-- <div [cdkDropListData]="inputMultiRanges"
      cdkDropList
      class="drag-wrapper"
      (cdkDropListDropped)="drop($event)"> -->
    <div 
      class="drag-wrapper">
      
      <ng-container *ngFor="let inputMultiRange of inputMultiRanges; let i = index;">
        <div class="input-group draggable"
          [ngClass]="{
            'error': inputMultiRange.error,
            'transparent': !inputMultiRange.input
          }">
          <!-- cdkDrag> -->
          <label for="section-reference">Reference: {{inputMultiRange.multiRange}}</label>
          <button type="button" class="delete-multi-range font-size-5"
            (click)="onDeleteMultiRange(inputMultiRange, $event)"
            *ngIf="inputMultiRange.input">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <input class="input-text border-color-default background-color-strong text-color-default"
            [ngModel]="inputMultiRange.input"
            (ngModelChange)="onInputReferenceChange($event, inputMultiRange)"
            type="text"
            name="section-multi-range-{{i}}"
            tabindex="1"
            placeholder="Genesis 1-11">
        </div>
      </ng-container>
    </div>
    
    <div class="form-buttons">
      <button type="button" class="cancel-button background-color-subtle-red hoverable"
        (click)="onCancel($event)">
        Cancel
      </button>
      <button type="submit"
        class="submit-button hoverable"
        [ngClass]="{
          'background-color-subtle-green': inputName,
          'background-color-subtle text-color-faint': !inputName
        }">
        {{submitButtonText}}
      </button>
    </div>
  </form>
</ng-container>
