
.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  max-width: 500px;
  // min-height: 100px;
  // max-height: 400px;
  // max-height: 0;
  opacity: 0;
  border-radius: 10px;
  border-width: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  // transition: max-height .2s;
  transition: opacity .2s, transform .2s;
  z-index: 20;
  
  &.is-visible {
  transform: translate(-50%, -50%);
  opacity: 1;
  }

  .modal__content {
    text-align: center;
    padding: 15px;
  }
  .modal__buttons {
    display: flex;
    
    button {
      flex: 1;
      text-align: center;
      padding: 15px;
      &:first-of-type { border-radius: 0 0 0 10px; }
      &:last-of-type { border-radius: 0 0 10px 0; }
      &:focus {  }
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;
  opacity: 0;
  transition: opacity .2s;
  
  &.is-visible {
    opacity: 1;
  }
}