@import '../../../styles.scss';

.topnav {
  height: 60px; @include phone { height: 40px; }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  z-index: 2;
  
  .topnav-right {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  
  .edit-button {
    width: 36px;
    height: 36px;
    @include phone { width: 30px; height: 30px; }
    border-radius: 4px;
  }
}

.topnav-offset {
  height: 60px; @include phone { height: 40px; }
}