.topnav {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  z-index: 2;
  
  .topnav-right {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }
  
  .edit-button {
    width: 36px;
    height: 36px;
    border-radius: 4px;
  }
}

.topnav-offset {
  margin-top: 60px;
}