:host(app-navi-list) {
  width: 100%;
}

.navi-list {
  display: flex;
  flex-direction: column;
  
  .navi-list__header {
    display: flex;
    justify-content: space-between;
  }
  
  .navi-list__item {

  }
}

.conflict {
  .conflict__title {
    padding: 10px;
  }
  
  .conflict__error {
    padding: 0 10px;
  }
  
  .conflict__resolutions {
    display: flex;
  }
  .conflict__resolution {
    padding: 10px;
    flex: 1;
  }
  
}

.hover-animation {
  transform: scale(1.00);
  transition: transform .1s, background .1s;
  
  &:hover {
    transform: scale(1.003);
  }
}