<div class="lds-default">
  <div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div><div class="background-color-opposite"></div>
  Loading...
</div>