@import '../../../mixins.scss';

$bar-height: 30px;

.editing-bar {
  position: fixed;
  height: $bar-height; @include tablet { height: $bar-height + 10px; }
  max-height: 0;
  border-bottom-width: 1px;
  left: 0;
  right: 0;
  z-index: 2;
  transition: max-height .3s;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding-right: 20px;
  
  &.is-visible {
    max-height: $bar-height; @include tablet { max-height: $bar-height + 10px; }
  }
  
  & > button {
    width: 50px;
    // height: 32px;
    height: 100%;
    // border-top-width: 1px;
    // border-bottom-width: 1px;
    border-right-width: 1px;
    
    &:first-of-type {
      border-left-width: 1px;
      // border-radius: 8px 0 0 8px;
    }
    &:last-of-type {
      // border-radius: 0 8px 8px 0;
    }
  }
}

.editing-bar-offset {
  height: $bar-height; @include tablet { height: $bar-height + 10px; }
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s;
  
  &.is-visible {
    max-height: $bar-height; @include tablet { max-height: $bar-height + 10px; }
  }
}

.edit-button {
  position: fixed;
  bottom: 50px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transition: transform .2s cubic-bezier(.41,1.5,.86,1.21);
  z-index: 12;
  
  &:hover {
    transform: scale(1.2);
  }
  
  &.is-hidden {
    transform: scale(0);
    transition: transform .2s cubic-bezier(.31,-0.43,.94,.52);
  }
}