<div class="editing-bar background-color-subtle border-color-default font-size-6 shadow"
  [ngClass]="{'is-visible': isEditingMode}">
  <button class="save-button border-color-subtle background-color-subtle hoverable"
    (click)="onImport()">
    <i class="fa fa-download" aria-hidden="true"></i>
  </button>
  <button class="save-button border-color-subtle background-color-subtle hoverable"
    (click)="onExport()">
    <i class="fa fa-upload" aria-hidden="true"></i>
  </button>
  <button class="undo-button border-color-subtle background-color-subtle hoverable"
    (click)="onUndo()">
    <i class="fa fa-undo" aria-hidden="true"></i>
  </button>
  <button class="save-button border-color-subtle background-color-subtle hoverable"
    (click)="onSave()">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
  </button>
  <button class="cancel-button border-color-subtle background-color-subtle hoverable"
    (click)="onCancel()">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </button>
</div>

<div class="editing-bar-offset"
  [ngClass]="{'is-visible': isEditingMode}">
</div>

<button class="edit-button hoverable background-color-strong border-color-subtle font-size-6 shadow"
  [ngClass]="{'is-hidden': isEditingMode}"
  (click)="onEdit()">
  <i class="fa fa-pencil" aria-hidden="true"></i>
</button>
