@import '~firebaseui/dist/firebaseui.css';
@import 'mixins.scss';

.main-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
}

.hoverable {
  transition: background .25s;
  // background: inherit;
  cursor: pointer;
  
  &:hover { transition: background .15s; }
}

.cursor-pointer {
  cursor: pointer;
}

.page-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: opacity .2s;
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.dark-mode {
  color: #eee;
  text-decoration-color: #eee;
  background: #000;

  .text-color-default { color: #eee; }
  .text-color-subtle { color: #ccc; }
  .text-color-faint { color: #aaa; }
  .hoverable:hover { background: #444; }
  .background-color-default { background: #111; }
  .background-color-strong { background: #333; }
  .background-color-subtle { background: #222; }
  .background-color-subtle.hoverable:hover { background: #333; }
  .background-color-green { background: #025413; }
  .background-color-subtle-green { background: #025413; }
  .background-color-subtle-green.hoverable:hover { background: #0d5c1d; }
  .background-color-subtle-red { background: #691111; }
  .background-color-subtle-red.hoverable:hover { background: #7c1b1b; }
  .background-color-backdrop { background: #eeeeee22; }
  .background-color-opposite { background: #eee; }
  .cdk-drag-preview { background: #333; }
  .border-color-default { border-color: #555; border-style: solid; }
  .border-color-subtle { border-color: #444; border-style: solid; }
  .shadow {
    
  }
  input[type=text] {
    outline-color: #333;
  }
  .error {
    background-color: #960000;
    input[type=text] { outline-color: #a80000; border-color: #960000; }
  }

  .hamburger-inner {
    background-color: #eee !important;
    &::before { background-color: #eee !important; }
    &::after { background-color: #eee !important; }
  }
}

.dim-mode {
  color: #ddd;
  text-decoration-color: #ddd;
  background: #111;

  .text-color-default { color: #ddd; }
  .text-color-subtle { color: #bbb; }
  .text-color-faint { color: #999; }
  .hoverable:hover { background: #555; }
  .background-color-default { background: #222; }
  .background-color-strong { background: #444; }
  .background-color-subtle { background: #333; }
  .background-color-subtle.hoverable:hover { background: #444; }
  .background-color-green { background: #035915; }
  .background-color-subtle-green { background: #035915; }
  .background-color-subtle-green.hoverable:hover { background: #0b7021; }
  .background-color-subtle-red { background: #7d1515; }
  .background-color-subtle-red.hoverable:hover { background: #972424; }
  .background-color-backdrop { background: #dddddd22; }
  .background-color-opposite { background: #ddd; }
  .cdk-drag-preview { background: #444; }
  .border-color-default { border-color: #666; border-style: solid; }
  .border-color-subtle { border-color: #555; border-style: solid; }
  .shadow {
    
  }
  input[type=text] {
    outline-color: #bbb;
  }
  .error {
    background-color: #a80000;
    input[type=text] { outline-color: #ba0000; border-color: #a80000; }
  }

  .hamburger-inner {
    background-color: #ccc !important;
    &::before { background-color: #ccc !important; }
    &::after { background-color: #ccc !important; }
  }
}

.light-mode {
  color: #222;
  text-decoration-color: #222;
  background: #e5e5e5;

  .text-color-default { color: #222; }
  .text-color-subtle { color: #444; }
  .text-color-faint { color: #666; }
  .hoverable:hover { background: #fff; }
  .background-color-default { background: #eee; }
  .background-color-strong { background: #fafafa; }
  .background-color-subtle { background: #f6f6f6; }
  .background-color-subtle.hoverable:hover { background: #fff; }
  .background-color-green { background: #adffad; }
  .background-color-subtle-green { background: #baffba; }
  .background-color-subtle-green.hoverable:hover { background: #d1ffd1; }
  .background-color-subtle-red { background: #ffbaba; }
  .background-color-subtle-red.hoverable:hover { background: #ffd4d4; }
  .background-color-backdrop { background: #22222222; }
  .background-color-opposite { background: #222; }
  .cdk-drag-preview { background: #fff; }
  .border-color-default { border-color: #bbb; border-style: solid; }
  .border-color-subtle { border-color: #ddd; border-style: solid; }
  .shadow {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    -webkit-border-radius: 2px;
  }
  input[type=text] {
    outline-color: #444;
  }
  .error {
    background-color: #ff7575;
    input[type=text] { outline-color: #ff3b3b; border-color: #ff7575; }
  }

  .hamburger-inner {
    background-color: #222 !important;
    &::before { background-color: #222 !important; }
    &::after { background-color: #222 !important; }
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-wrapper.cdk-drop-list-dragging .draggable:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.global-font-size-3 {
  @include phone {
    .font-size-6 { font-size: 22px; &.spaced { line-height: 26px; } }
    .font-size-5 { font-size: 20px; &.spaced { line-height: 24px; } }
    .font-size-4 { font-size: 18px; &.spaced { line-height: 22px; } }
    .font-size-3 { font-size: 16px; &.spaced { line-height: 20px; } }
    .font-size-2 { font-size: 14px; &.spaced { line-height: 18px; } }
    .font-size-1 { font-size: 12px; &.spaced { line-height: 16px; } }
  }
  
  @include tablet {
    .font-size-6 { font-size: 23px; &.spaced { line-height: 27px; } }
    .font-size-5 { font-size: 21px; &.spaced { line-height: 25px; } }
    .font-size-4 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-3 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-2 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-1 { font-size: 13px; &.spaced { line-height: 17px; } }
  }
  
  @include desktop {
    .font-size-6 { font-size: 23px; &.spaced { line-height: 27px; } }
    .font-size-5 { font-size: 21px; &.spaced { line-height: 25px; } }
    .font-size-4 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-3 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-2 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-1 { font-size: 13px; &.spaced { line-height: 17px; } }
  }
}

.global-font-size-2 {
  @include phone {
    .font-size-6 { font-size: 20px; &.spaced { line-height: 24px; } }
    .font-size-5 { font-size: 18px; &.spaced { line-height: 22px; } }
    .font-size-4 { font-size: 16px; &.spaced { line-height: 20px; } }
    .font-size-3 { font-size: 14px; &.spaced { line-height: 18px; } }
    .font-size-2 { font-size: 12px; &.spaced { line-height: 16px; } }
    .font-size-1 { font-size: 10px; &.spaced { line-height: 14px; } }
  }
  
  @include tablet {
    .font-size-6 { font-size: 21px; &.spaced { line-height: 25px; } }
    .font-size-5 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-4 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-3 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-2 { font-size: 13px; &.spaced { line-height: 17px; } }
    .font-size-1 { font-size: 11px; &.spaced { line-height: 15px; } }
  }
  
  @include desktop {
    .font-size-6 { font-size: 21px; &.spaced { line-height: 25px; } }
    .font-size-5 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-4 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-3 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-2 { font-size: 13px; &.spaced { line-height: 17px; } }
    .font-size-1 { font-size: 11px; &.spaced { line-height: 15px; } }
  }
}

.global-font-size-1 {
  @include phone {
    .font-size-6 { font-size: 18px; &.spaced { line-height: 22px; } }
    .font-size-5 { font-size: 16px; &.spaced { line-height: 20px; } }
    .font-size-4 { font-size: 14px; &.spaced { line-height: 18px; } }
    .font-size-3 { font-size: 12px; &.spaced { line-height: 16px; } }
    .font-size-2 { font-size: 10px; &.spaced { line-height: 14px; } }
    .font-size-1 { font-size: 8px; &.spaced { line-height: 12px; } }
  }
  
  @include tablet {
    .font-size-6 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-5 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-4 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-3 { font-size: 13px; &.spaced { line-height: 17px; } }
    .font-size-2 { font-size: 11px; &.spaced { line-height: 15px; } }
    .font-size-1 { font-size: 9px; &.spaced { line-height: 13px; } }
  }
  
  @include desktop {
    .font-size-6 { font-size: 19px; &.spaced { line-height: 23px; } }
    .font-size-5 { font-size: 17px; &.spaced { line-height: 21px; } }
    .font-size-4 { font-size: 15px; &.spaced { line-height: 19px; } }
    .font-size-3 { font-size: 13px; &.spaced { line-height: 17px; } }
    .font-size-2 { font-size: 11px; &.spaced { line-height: 15px; } }
    .font-size-1 { font-size: 9px; &.spaced { line-height: 13px; } }
  }
}
