@import '../../../styles.scss';

.section {
  // background: inherit;
  transition: background 2s;
  border-radius: 8px;

  &.is-new {
    transition: background 0s;
  }

  .drag-button {
    position: absolute;
    left: 0px;
    width: 16px;
    @include phone { left: -7px; }
  }

  .section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    transition: background 1s;
    // background: inherit;
    
    @include phone { padding: 10px 7px; }
    
    &.background-color-strong {
      transition: background .25s;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      padding: 9px 19px;
      
      @include phone { padding: 9px 6px; }
    }

    .expand-button {
      position: absolute;
    }

    button {
      width: 22px;
    }
    
    .fa {
      // height: 16px;
      text-align: center;
      display: inline-block;
      transition: transform .1s;

      &.rotate {
        transform: rotate(90deg);
      }
    }

    .section-count {
      position: absolute;
      bottom: -2px;
      right: 3px;
    }
  }

  .header__left {
    position: relative;
    width: 100%;
    
    .header__left--title {
      padding-left: 25px;
      
      .truncate {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
        @include phone { max-width: 225px; }
      }
      
      * {
        @include tablet { max-width: 500px; }
        @include desktop { max-width: 800px; }
      }
    }
  }

  .header__right {
    position: absolute;
    right: 0;
    background: inherit;
  }

  .section-comment {
    border-radius: 8px;
    // max-height: 0;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
    // transition: max-height .2s;
    // margin-left: 45px;
    
    // &.is-visible { max-height: 200px; }
    div { padding: 10px 20px; }
  }
  
  .section-list__drop-wrapper {
    border-radius: 8px;
    margin-left: 19px;
    margin-right: 10px;
    overflow: hidden;
    @include tablet { margin-left: 14px; margin-right: 5px; }
    @include phone { margin-left: 9px; margin-right: 3px; }
  }
  
  .section-list__drop {
    opacity: 0;
    transition: transform .3s, opacity .2s;
    transform: translateY(max(-20%, -40px));
    
    &.is-visible { transform: translateY(0); opacity: 1; }
  }

  .section-list {
    position: relative;
    overflow: hidden;
  }
}

.top-level-section {
  &.section { max-width: 800px; width: 100%; margin-bottom: 400px; }

  & > .section-list {
    margin-left: 0;
  }
}