@import '../../../mixins.scss';

.section {
  // background: inherit;
  transition: background 2s;
  border-radius: 8px;

  &.is-new {
    transition: background 0s;
  }

  .drag-button {
    position: absolute;
    border-radius: 3px;
    left: -7px; @include tablet { left: 0px; }
    width: 16px;
  }

  .section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 7px; @include tablet { padding: 10px 20px; }
    border-radius: 8px 8px 0 0;
    transition: background 1s;
    // position: relative;
    // background: inherit;
    
    button {
      border-radius: 3px;
      height: 23px;
      width: 20px;
      @include tablet { width: 23px; height: 28px; }
    }
    
    
    &.background-color-strong {
      transition: background .25s;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      padding: 6px 6px 7px 6px;
      
      @include tablet { padding: 9px 19px 10px 19px; }
    }

    .expand-button {
      position: absolute;
    }
    
    .fa {
      // height: 16px;
      text-align: center;
      display: inline-block;
      transition: transform .1s;

      &.rotate {
        transform: rotate(90deg);
      }
    }

    .section-count {
      position: absolute;
      bottom: -3px;
      right: 2px;
    }
    
    .selected {
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 0px;
      width: 10%;
      max-width: 20px;
      background: rgb(4,0,74);
      background: linear-gradient(90deg, rgba(4,0,74,0.42200630252100846) 0%, rgba(4,21,96,0.11668417366946782) 43%, rgba(0,179,255,0) 100%);
    }
    
    .header__left {
      position: relative;
      width: 100%;
      
      button {
        top: -3px;
      }
      
      .header__left--title {
        padding-left: 25px;
        
        .truncate {
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          
          @include phone { max-width: 225px; }
        }
        
        * {
          @include tablet { max-width: 500px; }
          @include desktop { max-width: 800px; }
        }
      }
    }
    
    .header__right {
      position: absolute;
      right: 0;
      background: inherit;
      
      button {
        width: 25px; @include tablet { width: 28px; }
      }
    }
  }
  
  .section-comment {
    margin-bottom: 10px;
  }

  .section-comment, .section-text {
    position: relative;
    border-radius: 8px;

    .section-comment__header, .section-text__header {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2%;
      min-width: 15px;
      max-width: 20px;
      display: flex; justify-content: center; align-items: center;
    }
    .section-comment__content, .section-text__content {
      padding: 6px 15px; @include tablet { padding: 10px 20px; }
      max-height: 22px; @include tablet { max-height: 26px; }
      transition: max-height .2s;
      white-space: pre-wrap;
      overflow-y: hidden;
      
      &.is-expanded {
        max-height: 300px; @include tablet { max-height: 400px; }
        overflow-y: auto;
      }
    }
    
    .section-text__verse-ref {
      vertical-align: super;
      line-height: 0;
    }
  }
  
  .section-list__drop-wrapper {
    border-radius: 8px;
    margin-left: 9px;
    margin-right: 3px;
    overflow: hidden;
    @include tablet { margin-left: 14px; margin-right: 5px; }
    @include desktop { margin-left: 19px; margin-right: 10px; }
  }
  
  .section-list__drop {
    opacity: 0;
    transition: transform .3s, opacity .2s;
    transform: translateY(max(-20%, -40px));
    
    &.is-visible { transform: translateY(0); opacity: 1; }
  }

  .section-list {
    position: relative;
    overflow: hidden;
  }
  
  .drag-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.top-level-section {
  &.section {
    max-width: 800px;
    width: 100%;
    > .section-list__drop-wrapper { padding-bottom: 10px; }
  }

  & > .section-list {
    margin-left: 0;
  }
}